#user_delete_inner {
//    background-color: yellow;
    display: block;
    padding: 40px 70px 26px;
    width: 600px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#user_delete_title_inner {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid $color-header;
    padding-bottom: 10px;
}
