#reset_password_inner {
    display: block;
    padding: 40px 70px 26px;
    max-width: 600px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#reset_password_title_inner {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid $color-header;
    padding-bottom: 10px;
}
