// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// 色の宣言
$color-orange: #ff9900;
$color-orange-dark: #F08C00;
$color-table-header: #2e5980;

// ヘッダーの色
$color-header: #498cbb;

// サブカラー
$color-sub: #5ab4bd;

// チェックボックスカラー
$color-checkbox: #009a9a
